/*
 :root{
    --primary-text-color:rgba 0,0,0,0,8;
    --title-text-color:#000000;
    --accent-color:hsl(330, 90%, 52%);
    --primary-white-color:blue;

}
    

body{
    background-color:#ffffff;
    color: var(primary-text-color);
}
/* header 
.list{
    list-style: none;
    }
    .logo{
    list-style: none;
    color: var(--accent-color);
    }
    .site-nav .link{
        color: var(--accent-color);
    }
    .site-nav .link.current{
        color: var(--title-text-color);
    }
    
    
    
    .section-title{
        color: var(--title-text-color);
    }
    /* HERO 
    .hero-title{
        color: #000;
    }
    .feature-about .title{
        color:brown;
    }
    .about-list{
        list-style: none;
        color: rgb(32, 238, 67);
    }
    .servis-list{
        list-style: none;
    }
    .section-team{
        list-style: none;
    }
    /* FOOTER 
    .footer{
        list-style: none;
        text-decoration: none;
    }
    .button
    {
    color: var(primary-text-color);
    background-color: var(--primary-white-color);
    
    }
    /* .button.premary{
        color: var(--title-text-color);
       background-color: var(--accent-color);
       Главная кнопка
       
       .button.secondary{
         color: var(--accent-color);
         background-color: var(--title-text-color);
    Вторичная кнопка
       }
    } */
     
 /*
:root{
    --primary-text-color:rgba 0,0,0,0,8;
    --title-text-color:#000000;
    --accent-color:hsl(330, 90%, 52%);
    --primary-white-color:blue;

}
    

body{
    background-color:#ffffff;
    color: var(primary-text-color);
}
/* header 
.list{
list-style: none;
}
.logo{
list-style: none;
color: var(--accent-color);
}
.site-nav .link{
    color: var(--accent-color);
}
.site-nav .link.current{
    color: var(--title-text-color);
}



.section-title{
    color: var(--title-text-color);
}
/* HERO 
.hero-title{
    color: #000;
}
.feature-about .title{
    color:brown;
}
.about-list{
    list-style: none;
    color: rgb(32, 238, 67);
}
.servis-list{
    list-style: none;
}
.section-team{
    list-style: none;
}
/* FOOTER 
.footer{
    list-style: none;
    text-decoration: none;
}
.button
{
color: var(primary-text-color);
background-color: var(--primary-white-color);

}

/* .button.premary{
    color: var(--title-text-color);
   background-color: var(--accent-color);
   Главная кнопка
   
   .button.secondary{
     color: var(--accent-color);
     background-color: var(--title-text-color);
Вторичная кнопка
   }
} */
 